{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% load crispy_forms_tags %}
{% block head %}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'listado_partidas_item' %}">Listado Partidas</a></li>    
        <li class="breadcrumb-item active" aria-current="page">Editar Partida</li>
    </ol>
</nav>
<form method="POST">
    {% csrf_token %}
    <h3>Edición Partida</h3>
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                {{form.codigo|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.nombre|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.unidad|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.precio|as_crispy_field}}
            </div>
        </div>
    </div>          
    {{form.categoria_partida|as_crispy_field}}   
    {{form.descripcion|as_crispy_field}}
    <div class="mt-2 mb-4">
        <div class="d-flex">
            <div class="flex-grow-1">
                <a class="btn btn-danger btn-sm" href="{% url 'eliminar_partida_item' partida.id %}"><i class="fa-regular fa-trash"></i>Eliminar Partida</a>
            </div>
            <div>
                <a class="btn btn-secondary btn-sm" href="{% url 'listado_partidas_item' %}">Cancelar</a>
                <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>
<hr>
<h5>Listado Partidas Manantención Asociadas</h5>
<form method="post" action="{% url 'asociar_partida_partidaMantencion' partida.id %}">
    {% csrf_token %}
    <div class="col">
        <div class="row">
            <div class="col-md-4">                
                <select class="form-select form-select-sm" name="id_partida_mantencion" id="select-field" required>
                    <option selected value="">-- Seleccione Partida --</option>
                    {% for partida in listado_partidas_mantencion %}
                    <option style="font-size: 12px;" value="{{partida.id}}">{{partida.codigo}} - {{partida.nombre}} - {{partida.unidad}} - {{partida.precio}}</option>
                    {% endfor %}
                </select> 
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control form-control-sm" name="cantidad" value="0" required>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <button type="submit" class="btn btn-primary btn-sm">Agregar</button>   
            </div>
        </div>
    </div>
</form>
{% if listado_partidas_mantencion_ingresadas %}
<table class="table table-light mt-2" style="font-size: 11.5px;">
    <thead>
        <tr>
            <th>Cod.</th>
            <th>Partida</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for i in listado_partidas_mantencion_ingresadas %}
        <tr>
            <th>{{i.partida_mantencion.codigo}}</th>
            <td>{{i.partida_mantencion.nombre}}</td>
            <td>{{i.partida_mantencion.unidad}}</td>
            <td>
            <div id="id_{{i.id}}">
                <input type="number" name="cantidad" style="width: 70px; padding: 3px !important; font-size: 11.5px !important;" min="0" step="1" class="form-control form-control-sm" value="{{i.cantidad}}" required>
              </div>
            </td>
            <td>$ {{i.partida_mantencion.precio|montoFormateado}}</td>
            <th>$ {{i.total|montoFormateado}}</th>
            <td>
                <a class="btn btn-danger btn-sm" href="{% url 'eliminar_Partida_PartidaMantencion' i.id partida.id %}"><i class="fa-regular fa-trash"></i>Eliminar</a>
                <!-- <a class="btn btn-primary btn-sm" href="{% url 'eliminar_Partida_PartidaMantencion' i.id partida.id %}"><i class="fa-solid fa-arrows-rotate"></i>Actualizar</a> -->
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="mt-2">
    No existen partidas de mantención asociadas
</div>
{% endif %}
<hr>
<h5>Listado de Items Asociados</h5>
<form method="post" action="{% url 'asociar_item_partida'  partida.id %}">
    {% csrf_token %}
    <div class="col">
        <div class="row">
            <div class="col-md-4">                
                <select class="form-select form-select-sm" name="item_seleccionado" required>
                    <option selected value="">-- Seleccione Item --</option>
                    {% for item in listado_item %}
                    <option style="font-size: 12px;" value="{{item.id}}">{{item.codigo}} - {{item.nombre}}</option>
                    {% endfor %}
                </select> 
            </div>
            <div class="col-md-8" style="text-align: left;">
                <button type="submit" class="btn btn-primary btn-sm">Agregar</button>   
            </div>
        </div>
    </div>
</form>
{% if listado_item_partida_ingresados %}
<table class="table table-light mt-2" style="font-size: 11.5px;">
    <thead>
        <tr>
            <th>Cod.</th>
            <th>Item</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for i in listado_item_partida_ingresados %}
        <tr>
            <th>{{i.item.codigo}}</th>
            <td>{{i.item.nombre}}</td>
            <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_item_partida' i.id partida.id %}"><i class="fa-regular fa-trash"></i>Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="mt-2">
    No existen items Asociados
</div>
{% endif %}
{% endblock %}
{% block jscript %}
<script>
    $(function(){
      $("#partida").val("{{partida.partida_nomina.id}}").change();      
    });
</script>
{% endblock %}



