{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}

<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'listado_items' %}" style="text-decoration: none;">Listado Items</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Item</li>
    </ol>
</nav>

<form method="POST">
    {% csrf_token %}
    <h3>Edición Item</h3>
    <div class="mb-3">
        <label class="form-label">Código</label>
        {{form.codigo}}
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre Items</label>
        {{form.nombre}}
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
        {{form.descripcion}}       
    </div>
    <div class="mt-2 mb-4" style="text-align: end;">
        <a class="btn btn-secondary btn-sm" href="{% url 'listado_items' %}">Cancelar</a>
        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
    </div>

</form>
{% endblock %}
{% block jscript %}
{% endblock %}


