{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}
<div class="d-flex align-items-center">
    <div class="flex-grow-1 text-truncate">
        <h5 class="m-0">Listado Items</h5>
        <span class="sub-titulo">Servicio Local de Educación Puerto Cordillera</span> 
    </div>
    <div class="d-flex align-items-center">    
        <a class="btn-round" type="button" href="{% url 'nuevo_item' %}"><i class='bx bx-plus-circle'></i></a>
        <!-- <a class="btn-round" type="button" href="#"><i class='bx bx-bell'></i></a> -->
        <a class="btn-round" type="button" href="#"><i class='bx bx-cog'></i></a>
    </div>
</div>
<table class="table" style="font-size: 13px;">
    <thead>
        <tr>
            <th>Cód.</th>
            <th>Item</th>
            <th>Descripción</th>
            <th>F.Creación</th>           
        </tr>
    </thead>
    <tbody>
        {% for item in listado_items %}
        <tr>
            <th scope="row">
                <a href="{% url 'detalle_item' item.id %}" style="text-decoration: none;">{{item.codigo}}</a> 
            </th>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.created}}</td>
            <!-- <td>{{item.created | date:'d/m/Y'}}</td>           -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block jscript %}
{% endblock %}
