{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% load crispy_forms_tags %}

{% block head %}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'listado_partidas_item' %}">Listado Partidas</a></li>    
        <li class="breadcrumb-item active" aria-current="page">Nueva Partida</li>
    </ol>
</nav>
<form method="POST">
    {% csrf_token %}
    <h3>Nueva Partida</h3>
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                {{form.codigo|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.nombre|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.unidad|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.precio|as_crispy_field}}
            </div>
        </div>
    </div>
    {{form.categoria_partida|as_crispy_field}}   
    {{form.descripcion|as_crispy_field}}
    <!-- {{form|crispy}} -->       
    <div class="mt-4 mb-4" style="text-align: end;">
        <a class="btn btn-secondary btn-sm" href="{% url 'listado_partidas_item' %}">Cancelar</a>
        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
    </div>
</form>
{% endblock %}
{% block jscript %}
{% endblock %}


