<div id="id_alert_estado" hx-swap-oob="true">
    {% if boolean_estado == False %}
      <div class="mt-2 alert alert-warning d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
              <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <div>
              No se ha evaluado el <strong>estado del recinto</strong>. Se solicita
              completar la información antes de enviar.
          </div>
      </div>
    {% endif %}
  </div>

 
  <table class="table" style="font-size: 11.5px;">
    <tbody>            
        <tr>      
          <th style="width: 200px;">Estado Recinto</th>
          <td style="text-align: left;">
              <span class="badge {{recinto.estado.class_css}}" >{{recinto.estado}}</span>                
          </td>      
        </tr>
        <tr>      
          <th style="width: 200px;">Descripción Estado</th>
          <td style="text-align: left;">{{recinto.estado.descripcion}}</td>      
        </tr>
        <tr>      
          <th style="width: 200px;">Observación</th>
          <td>
              {% if recinto.observacion_estado %}
              {{recinto.observacion_estado}}
              {% else %}
              S/Obs.
              {% endif %}
          </td>      
        </tr>
    </tbody>
  </table>
  <a
          class="btn btn-primary btn-sm"
          href="#"
          hx-get="{% url 'actualiza_estado_recinto_htmx' recinto.id %}"
          hx-push-url="false"
          hx-target="#id_{{recinto.id}}"
          hx-swap="innerHTML">
          <i class="fa-solid fa-arrows-rotate"></i> Actualizar
          </a>
  {% include 'base_toast.html' %}