<table class="table" style="font-size: 11.5px;">    
    <tbody>        
        <tr>      
            <th style="width: 200px;">Estado Recinto</th>
            <td style="text-align: left;">{{form.estado}}</td>      
        </tr>
        <tr>      
            <th style="width: 200px;">Observación</th>
            <td>
            {{form.observacion_estado}}
            </td>      
        </tr>
        <tr>      
            <th style="width: 200px;"></th>
            <td>
                <a 
                    class="btn btn-secondary btn-sm"
                    hx-get="{% url 'actualiza_estado_recinto_htmx_cancel' recinto.id %}"
                    hx-push-url="false"
                    hx-target="#id_{{recinto.id}}"
                    hx-swap="innerHTML">
                    Cancelar
                </a>
                <button class="btn btn-primary btn-sm" type="submit">Actualizar</button>
            </td>      
        </tr>
    </tbody>
</table>
{% include 'base_toast.html' %}