<a
    style="text-decoration: none;"
    href="#"
    hx-get="{% url 'actualiza_instalacion_pabellon_htmx' instalacion.id %}"
    hx-push-url="false"
    hx-target="#id_{{instalacion.id}}"
    hx-swap="innerHTML">
    <strong><i class="fa-solid fa-arrows-rotate"></i> Actualizar</strong>
</a>
<table class="table table-light mb-4" style="font-size: 13px;">
    <tbody>
        <tr>      
        <th style="width: 200px;">Descripción</th>
        <td style="text-align: left;">{{instalacion.categoria_instalaciones.descripcion}}</td>      
        </tr>
        <tr>      
        <th style="width: 200px;">Estado Funcionamiento</th>
        <td style="text-align: left;">{{instalacion.estado}}</td>      
        </tr>
        <tr>      
        <th style="width: 200px;">Observaciones</th>
        <td>
            {% if instalacion.observaciones %}
            {{instalacion.observaciones}}
            {% else %}
            S/Obs.
            {% endif %}
        </td>      
        </tr>
    </tbody>
</table>
{% include 'base_toast.html' %}