{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% block head %}
<style>
  .td-table {
    width: 150px;
  }   
</style>
{% endblock %}
{% block content %}
<div class="d-flex align-items-center">
    <div class="flex-grow-1 text-truncate">
        <h4 class="m-0">{{pabellon.nombre}}</h4>
        <span class="sub-titulo">{{establecimiento}}</span> 
    </div>
    <div class="d-flex align-items-center">
        
    </div>
</div>
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'detalle_establecimiento' establecimiento.id %}" style="text-decoration: none;">Establecimiento</a></li>
    <li class="breadcrumb-item"><a href="{% url 'instrucciones_plan_infra' establecimiento.id %}" style="text-decoration: none;">Plan {{plan.year}}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'editar_plan_infra' plan.id establecimiento.id %}" style="text-decoration: none;">Listado Pabellones</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{pabellon.nombre}}</li>
    </ol>
</nav>
<div class="div_title">
  Información General
</div>
<div class="card shadow mb-4 mt-2"  style="border: 1px solid #0000; font-size: 12px; line-height: 14px;">
  <div class="card-body" style="padding-bottom: 15px !important;">
    <table class="table" style="font-size: 11.5px;">
      {% if pabellon.tipo_pabellon == 1 %}
      <tr>
        <th class="td-table">
          Número de Pisos
        </th>
        <td style="text-align: left;">
          {{pabellon.numero_pisos}}
        </td>
      </tr>
      <tr>
        <th class="td-table">
          Cantidad de Recintos
        </th>
        <td style="text-align: left;">
          {{pabellon.numero_recintos}}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th class="td-table">
          Descripción
        </th>
        <td style="text-align: left;">
          {% if pabellon.descripcion %}
            {{pabellon.descripcion}}
          {% else %}
            Sin Descripción
          {% endif %}
        </td>
      </tr>
      <tr>
        <th class="td-table">
          Monto Total Pabellón
        </th>
        <td style="text-align: left;">
          <strong>$ {{pabellon.total| montoFormateado}}</strong>
        </td>
      </tr>
    </table>
    <div class="d-flex">
      <div class="flex-grow-1">
        <a href="{% url 'eliminar_pabellon' plan.id pabellon.id %}" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash"></i>
          {% if pabellon.tipo_pabellon == 1 %}
          Eliminar Pabellón
          {% else %}
          Eliminar Area Exterior
          {% endif %}
        </a>
      </div>
      <div>
        <a href="{% url 'editar_pabellon' plan.id pabellon.id %}" class="btn btn-primary btn-sm"><i class="fa-regular fa-pen"></i>
          {% if pabellon.tipo_pabellon == 1 %}
          Editar Pabellón
          {% else %}
          Editar Area Exterior
          {% endif %}
        </a>
      </div>
    </div>
  </div>    
  
</div>



<!-- Total Recintos Docentes: {{pabellon.total_recintos_administrativos}}<br>
Total Recintos Docentes: {{pabellon.total_recintos_docentes}}<br> -->




                      

{% for recintos_en_piso in pisos %}
<div class="card shadow mb-4 mt-2"  style="border: 1px solid #0000; font-size: 12px; line-height: 14px;">
  <div class="card-body" style="padding-bottom: 15px !important;">
    <div class="row">
      <div class="col-md-6">
        <h6><i class="fa-regular fa-layer-group"></i> Piso {{forloop.counter}}</h6>
      </div>
      <div class="col-md-6" style="text-align:end">
        <a href="{% url 'nuevo_recinto' plan.id pabellon.id forloop.counter %}" class="btn btn-primary btn-sm mb-2">
          <i class="fa-solid fa-plus"></i> Nuevo Recinto
        </a>
      </div>
    </div>
    {% if recintos_en_piso %}
    <table class="table" style="font-size: 11.5px;">
      <thead>
        <tr>
          <th>Recinto</th>         
          <th>Tipo Recinto</th>
          <th>Categoría</th>
          <th style="text-align: end;">Monto Estimado</th>
          <th style="text-align: center;">Estado</th>
          <th style="text-align: end;">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for recinto in recintos_en_piso %}                     
          <tr>                  
            <th scope="row">{{recinto.nombre}}</th>
            <td>{{recinto.tipo_recinto}}</td> 
            <td>{{recinto.tipo_recinto.categoria}}</td>
            <td style="text-align: end;">$ {{recinto.total | montoFormateado}}</td>                  
            <td style="text-align: center;">              
              <span class="badge {{recinto.estado.class_css}}" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{recinto.estado.descripcion}}">{{recinto.estado}}</span>
            </td>
            <td style="text-align: end;">
              <a href="{% url 'detalle_recinto' plan.id recinto.id %}" class="btn btn-primary btn-sm" type="button">
                <i class="fa-regular fa-pen"></i>Editar
              </a>
            </td>                                       
          </tr>               
        {% endfor %}                
      </tbody>
    </table>
    {% else %}
      <div class="mb-2">
        <div class="alert alert-warning" role="alert">
          No hay recintos ingresados en este piso.        
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endfor %}
<div class="mt-4" style="text-align: end;">  
  <a href="{% url 'editar_plan_infra' plan.id establecimiento.id %}" class="btn btn-primary btn-sm"><i class="fas fa-long-arrow-left"></i> Listado Pabellones</a>
</div>
{% endblock %}
{% block jscript %}
{% endblock %}
