{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% block head %}{% endblock %}
{% block content %}
<div class="d-flex align-items-center">
    <div class="flex-grow-1 text-truncate">        
        <h5 class="m-0">Editar {{pabellon.nombre}}</h5>        
        <span class="sub-titulo">{{establecimiento}}</span> 
    </div>
    <div class="d-flex align-items-center">
        
    </div>
</div>
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'detalle_establecimiento' establecimiento.id %}" style="text-decoration: none;">Establecimiento</a></li>
        <li class="breadcrumb-item"><a href="{% url 'instrucciones_plan_infra' establecimiento.id %}" style="text-decoration: none;">Plan {{plan.year}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'editar_plan_infra' plan.id establecimiento.id %}" style="text-decoration: none;">Listado Pabellones</a></li>   
        <li class="breadcrumb-item active" aria-current="page">Editar {{pabellon.nombre}}</li>    
    </ol>
</nav>
<form method="POST">
    {% csrf_token %}    
    <div class="mb-3">
        {% if pabellon.tipo_pabellon == 1 %}
        <label class="form-label">Nombre Pabellón</label>
        {% else %}
        <label class="form-label">Nombre Area Exterior</label>
        {% endif %}
        {{form.nombre}}
    </div>           
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        {{form.descripcion}}
    </div>       
    <input hidden name="establecimiento" value="{{establecimiento.id}}">
    <div class="mt-2 mb-4" style="text-align: end;">
        <a class="btn btn-secondary btn-sm" href="{% url 'detalle_pabellon' plan.id pabellon.id %}">Cancelar</a>
        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
    </div>
</form>  
{% endblock %}
{% block jscript %}
{% endblock %}
