{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% block head %}{% endblock %}
{% block content %}
<div class="d-flex align-items-center">
    <div class="flex-grow-1 text-truncate">
        <h4 class="m-0">Plan Infraestructura y Mantenimiento 2025</h4>        
        <span class="sub-titulo">{{establecimiento.nombre}}</span> 
    </div>
    <div class="d-flex align-items-center">
        <a class="btn-round" type="button" href="#"><i class='bx bx-help-circle'></i></a>
        <a class="btn-round" type="button" href="#"><i class='bx bx-bell'></i></a>
        <a class="btn-round" type="button" href="#"><i class='bx bx-cog'></i></a>
    </div>
</div>
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'detalle_establecimiento' establecimiento.id %}" style="text-decoration: none;">Detalle Establecimiento</a></li>
    <li class="breadcrumb-item active" aria-current="page">Plan Infraestructura y Mantenimiento</li>
    </ol>
</nav>
<h5>Instrucciones</h5>
<p>
    El presente <strong>Plan 2025</strong> deberá ser completado por el Director(a) o Encargado del Establecimiento Educacional.
</p>
<p>
    En primera instancia, será necesario crear la estructura general del establecimiento, la cual está conformada por <strong>Pabellones</strong> y <strong>Áreas Exteriores</strong>.
</p>
<p>
    En el caso de los <strong>Pabellones</strong>, una vez creados, se deberán ingresar los recintos que los conforman, organizándolos de manera ordenada piso por piso. Es importante seleccionar la categoría y el tipo de recinto que mejor se ajuste a cada caso.
</p>
<p>
    Para las <strong>Áreas Exteriores</strong>, deberán considerarse los mismos criterios aplicados a los Pabellones.
</p>
<p>
    Una vez creados los <strong>Recintos</strong>, será necesario presionar el botón "Editar" para ingresar las cantidades de cada partida predeterminada según el tipo de recinto, además de evaluar su estado interior. Es fundamental que esta evaluación sea exclusivamente del recinto, lo más objetiva posible, y acompañada de una breve observación que detalle y justifique el estado evaluado.
</p>
<p>
    Después de completar la estructura general del establecimiento y obtener una visión integral, deberá evaluarse el estado general de todas las instalaciones, indicando su respectivo estado y justificación. En caso de que el establecimiento no cuente con un tipo de instalación específica, se deberá seleccionar la opción "No existe tipo de instalación" en el menú correspondiente.
</p>
<p>
    Una vez finalizado el ingreso del plan, se debe comparar el monto actual de la propuesta con el monto referencial 2024. A partir de esta comparación, se realizarán los ajustes necesarios, priorizando las áreas o intervenciones más críticas.
</p>
<p>
    Para finalizar, se deberá presionar el botón verde "Revisar Plan 2025", que mostrará un resumen general de todos los recintos y la evaluación de las instalaciones. En la parte superior de esta pantalla se encuentra un botón azul, denominado "Editar Plan", que permite regresar a la pantalla anterior para realizar ajustes o correcciones. Asimismo, se ubica otro botón verde denominado "Enviar", con el cual se formaliza la entrega del plan.
</p>
<p>
    Es importante tener en cuenta que, una vez enviado el <strong>Plan 2025</strong>, no será posible editarlo ni realizar ajustes a la propuesta
</p>

{% if plan %}
    {% if plan.estado == 1 %}
    <a href="{% url 'editar_plan_infra' plan.id establecimiento.id %}" class="btn btn-sm btn-primary"><i class="fa-regular fa-pen"></i> Editar Plan 2025</a>
    {% elif plan.estado == 2 %}
    <a href="{% url 'detalle_plan_infra' plan.id establecimiento.id %}" class="btn btn-sm btn-primary"><i class="fa-regular fa-pen"></i> Detalle Plan 2025</a>
    {% endif %}
{% else %}
    <a href="{% url 'nuevo_plan_infra' establecimiento.id %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i> Crear Plan 2025</a>
{% endif %}

{% endblock %}
{% block jscript %}
{% endblock %}
