<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <i class="fa-solid fa-triangle-exclamation" style="font-size: 50px; color: rgb(255, 196, 0);"></i>
        <p class="mt-2 mb-0" style="font-size: 13px; font-weight: 500;">Desea enviar el Plan {{plan.year}}?.</p> 
        <p class="mt-0" style="font-size: 13px; font-weight: 500;">Al confirmar la información <strong>no podrá ser editada.</strong></p>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa-sharp fa-regular fa-xmark"></i> Cerrar</button>
        <a type="button" class="btn btn-success btn-sm" href="{% url 'cerrar_plan' plan.id establecimiento.id %}"><i class="fa-solid fa-check"></i> Confirmar</a>
      </div>
    </div>
</div>