<!doctype html>
{% load utilidades %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h3>Detalle Establecimientos</h3>
        <nav aria-label="breadcrumb" style="font-size: 13px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Listado Establecimientos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary btn-sm" href="{% url 'listado_items' %}">Listado Items</a>
                <a class="btn btn-primary btn-sm" href="{% url 'listado_partidas_item' %}">Listado Partidas</a>
                <a class="btn btn-primary btn-sm" href="{% url 'listado_categoria_recinto' %}">Listado Categoria Recinto</a>
                <a class="btn btn-primary btn-sm" href="{% url 'listado_tipo_recinto' %}">Listado Tipo Recinto</a>
                <h4>{{establecimiento.nombre}}</h4>
                RBD: {{establecimiento.rbd}}<br>
                Categoría: {{establecimiento.categoria}}<br>
                Estado:
                {% if establecimiento.estado == 1 %}
                <span class="badge bg-success">Activo</span>
                {% else %}
                <span class="badge bg-danger">Inactivo</span>
                {% endif %}<br>
                Dirección: {{establecimiento.direccion}}<br>
                Comuna: {{establecimiento.comuna}}<br>
                Zona Geográfica: {{establecimiento.get_zona_geografica_display}}
                
                <hr>
                <h5>Información Contacto Establecimiento</h5>
                Teléfono: {{establecimiento.telefono1}}<br>
                Email: {{establecimiento.email_establecimiento}}<br>
                
                <hr>
                <h5>Información Director</h5>
                Director(a): {{establecimiento.director}}<br>
                Teléfono: {{establecimiento.telefono2}}<br>
                Email: {{establecimiento.email_director}}<br>
                
                <hr>
                Matrícula {{year}}: 
                {% if matricula_actual %}
                  {{matricula_actual}}
                {% else %}
                  Sin Registrar
                {% endif %}                                
                <br>Presupuesto Mantenimiento {{year}}: 
                {% if mantenimiento_actual %}
                  $ {{mantenimiento_actual | montoFormateado}}
                {% else %}
                  Sin Registrar
                {% endif %}                
                <br>
            </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">            
            <h4>Plan de Infraestructura y Mantenimiento</h4>
              <a class="btn btn-primary btn-sm" href="{% url 'nuevo_pabellon' establecimiento.id %}">Nuevo Pabellón</a>
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">Código</th> -->
                    <th scope="col">Pabellón</th>
                    <th scope="col">Nº Pisos</th>
                    <th scope="col">Nº Recintos</th>                    
                  </tr>
                </thead>
                <tbody>
                  {% for pabellon in pabellones %}
                  <tr>
                    <!-- <th scope="row">
                      <a href="{% url 'detalle_pabellon' pabellon.id %}">
                        {% if pabellon.codigo %}
                          {{pabellon.codigo}}
                        {% else %}
                          S/Cód.
                        {% endif %}                    
                      </a>
                    </th> -->
                    <th>
                      <a href="{% url 'detalle_pabellon' pabellon.id %}">{{pabellon.nombre}}</a>
                    </th>
                    <td>{{pabellon.numero_pisos}}</td>
                    <td>{{pabellon.numero_recintos}}</td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>



