{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


<h1 class="text-center" style="margin-bottom: 50px">Reportes de proyecciones</h1>
<form method="post" name="formulario para filtrar" >
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-3">
            <select id="establecimiento" class="form-select select-field" name="filter_establecimiento">
                <option value="todos">Todos los establecimientos</option>
                {% for establecimiento in establecimientos %}
                <option value="{{ establecimiento.id }}" {% if filter_establecimiento == establecimiento.id|stringformat:"s" %}selected{% endif %}>{{ establecimiento.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        {% if filter_establecimiento == "todos"%}
          <div class="col-2">
            <select id ="subvencion" class="form-select" name="filter_subvencion" disabled>
              <option value="todos">Todos los fondos</option>
              {% for subvencion in subvenciones %}
                <option value="{{ subvencion.id }}" {% if filter_subvencion == subvencion.id|stringformat:"s" %}selected{% endif %}>{{ subvencion.fondo }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <select id ="tipo" class="form-select" name="filter_tipo" disabled>
              <option value="todos">Tipo de proyección</option>
              {% for tipo in tipos %}
                <option value="{{ tipo.0 }}" {% if filter_tipo == tipo.0|stringformat:"s" %}selected{% endif %}>{{ tipo.0 }}</option>
              {% endfor %}
            </select>
          </div>
        {%else%}
        <div class="col-2">
          <select id ="subvencion" class="form-select" name="filter_subvencion">
            <option value="todos">Todos los fondos</option>
            {% for subvencion in subvenciones %}
              <option value="{{ subvencion.id }}" {% if filter_subvencion == subvencion.id|stringformat:"s" %}selected{% endif %}>{{ subvencion.fondo }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-2">
          <select id ="tipo" class="form-select" name="filter_tipo">
            <option value="todos">Tipo de proyección</option>
            {% for tipo in tipos %}
              <option value="{{ tipo.0 }}" {% if filter_tipo == tipo.0|stringformat:"s" %}selected{% endif %}>{{ tipo.0 }}</option>
            {% endfor %}
          </select>
        </div>
        {%endif%}
      <div class="col-1">
        <button type="submit" class="btn btn-info" style=" color: white">Filtrar</button>
      </div>
    </div>
</form>
{%if filter_establecimiento == "todos" %}
    <div class="container">
        <div class="row justify-content-center text-center" style="padding: 40px;">
            <p style = "font-weight: 500; font-size: 20px; color: rgba(234, 101, 117, 1);">
                Seleccione un establecimiento
            </p>
        </div>
    </div>
{% elif establecimiento != "todos" and filter_subvencion == "todos" or filter_subvencion == None %}
    <div class="container">
        <div class="row justify-content-center text-center" style="padding: 40px;">
            {% for subvencion in subvenciones %}
                <div class="card col-3" style="width: 18rem; background-color: rgba(234, 101, 117, 0.2); margin: 10px">
                    <div class="card-body">
                        <h5 class="card-title">{{ subvencion.fondo }}</h5>
                        <p class="card-text" style="font-size: 10px;">
                            Monto proyectado ingresos:
                            <br>
                            <b>{{ subvencion.monto_total_proyectado_ingreso|montoConPuntos }}</b>
                            <br>
                            Monto proyectado remuneraciones:
                            <br>
                            <b>{{ subvencion.monto_total_proyectado_remuneraciones|montoConPuntos }}</b>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% elif establecimiento != "todos" and filter_subvencion != "todos" and filter_tipo == "todos" %}
    <div class="container">
        <div class="row justify-content-center text-center" style="padding: 40px;">
            <div class="card col-3" style="width: 18rem; background-color: rgba(234, 101, 117, 0.2); margin: 10px">
                <div class="card-body">
                    <h5 class="card-title">{{ current_subvencion.fondo}}: INGRESOS</h5>
                    <p class="card-text" style="font-size: 10px;">
                    Monto proyectado ingresos:
                    <br>
                    <b>{{ current_subvencion.monto_total_proyectado_ingreso|montoConPuntos }}</b>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    {%for mes in current_subvencion.meses_proyectados.all%}
                        {%if mes.tipo == "INGRESO"%}
                            <li class="list-group-item mb-2 rounded">
                                {{mes.mes|upper}}-{{mes.estado}}: {{mes.monto|montoConPuntos}}
                            </li>
                        {%endif%}
                    {%endfor%}
                    <li class="list-group-item mb-2 rounded">
                        TOTAL: {{ current_subvencion.monto_total_proyectado_ingreso|montoConPuntos }}
                    </li>
                </ul>
            </div>
            <div class="card col-3" style="width: 18rem; background-color: rgba(234, 101, 117, 0.2); margin: 10px">
                <div class="card-body">
                    <h5 class="card-title">{{ current_subvencion.fondo}}: REMUNERACIONES</h5>
                    <p class="card-text" style="font-size: 10px;">
                    Monto proyectado Remuneraciones:
                    <br>
                    <b>{{ current_subvencion.monto_total_proyectado_remuneraciones|montoConPuntos }}</b>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    {%for mes in current_subvencion.meses_proyectados.all%}
                        {%if mes.tipo == "REMUNERACIONES"%}
                        <li class="list-group-item mb-2 rounded">
                            {{mes.mes|upper}}-{{mes.estado}}: {{mes.monto|montoConPuntos}}
                        </li>
                        {%endif%}
                    {%endfor%}
                    <li class="list-group-item mb-2 rounded">
                        TOTAL: {{ current_subvencion.monto_total_proyectado_remuneraciones|montoConPuntos }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-end">
            <a href="{% url 'exportar_estimacion_subvencion' establecimiento.id current_subvencion.id %}"
              class="col-3 btn btn-thick btn-thick-azul"
              style="margin: 5px 20px 5px 20px; padding: 8px 12px; font-size: 0.9rem;">Exportar estimación<br>anual subvención</a>
        </div>
    </div>
{%  elif establecimiento != "todos" and filter_subvencion != "todos" and filter_tipo != "todos" %}
    <div class="container justify-content-center">
        <h3 class="text-center" style="color: rgba(234, 101, 117, 1); padding-top: 40px">
            {{establecimiento.nombre}} - 
            {{current_subvencion.fondo}} - 
            {{filter_tipo}}
        </h3>
        <div class="row justify-content-center text-center" style="padding: 40px;">
            <ul class="list-group list-group-flush">
                {% for mes in meses%}
                <li class="list-group-item">{{mes.mes|upper}} - Estado: {{mes.estado}} - {{mes.monto|montoConPuntos}}</li>
                {% endfor %}
                {% if filter_tipo == "INGRESO" %}
                <li class="list-group-item">TOTAL: {{current_subvencion.monto_total_proyectado_ingreso|montoConPuntos}}</li>
                {% elif filter_tipo == "REMUNERACIONES" %}
                <li class="list-group-item">TOTAL: {{current_subvencion.monto_total_proyectado_remuneraciones|montoConPuntos}}</li>
                {%endif%}
            </ul>
        </div>
        <div class="row justify-content-end">
            <a href="{% url 'exportar_meses_proyectados' establecimiento.id current_subvencion.id filter_tipo %}" 
              class="col-3 btn btn-thick btn-thick-azul"
              style="margin: 5px 20px 5px 20px; padding: 8px 12px; font-size: 0.9rem;">Exportar proyección anual: <br>{{current_subvencion.fondo}}</a>
            <a href="{% url 'exportar_estimacion_subvencion' establecimiento.id current_subvencion.id %}"
              class="col-3 btn btn-thick btn-thick-azul"
              style="margin: 5px 20px 5px 20px; padding: 8px 12px; font-size: 0.9rem;">Exportar estimación<br>anual subvención</a>
        </div>
    </div>
{%endif%}

{% endblock %}
{% block jscript %}
<script>
  // Función para cambiar el color del fondo del selector cuando cambia el valor
  function changeBackgroundColor(selectElement) {
    if (selectElement.value !== "todos") {
      selectElement.style.backgroundColor = "rgba(183, 225, 239, 0.5)"; // Color de fondo cuando está seleccionado
    } else {
      selectElement.style.backgroundColor = ""; // Color de fondo por defecto
    }
  }

  // Asignar el evento a todos los selectores con clase form-select
  document.addEventListener("DOMContentLoaded", function () {
    const selectElements = document.querySelectorAll(".form-select");
    selectElements.forEach(function (select) {
      // Cambiar el color inicial basado en el valor seleccionado
      changeBackgroundColor(select);

      // Escuchar cambios y actualizar el color de fondo
      select.addEventListener("change", function () {
        changeBackgroundColor(select);
      });
    });
  });
</script>
{% endblock %}