/* Estilos para los botones del acordeón */
.accordion-button {
    color: black !important; /* Azul */
    background-color: rgba(240, 245, 250, 0.8) !important;
    transition: all 0.3s ease !important;
}

/* Estilo cuando el botón está expandido */
.accordion-button:not(.collapsed) {
    color: black !important; /* Azul */
    background-color: rgba(255, 193, 7, 1) !important;
}

/* Cambiar color de texto y fondo al pasar el mouse */
.accordion-button:hover {
    color: black !important; /* Azul */
    background-color: rgba(57, 190, 239, 1) !important;
}


