{% extends 'base.html' %}
{% load static %}
{% load utilidades %}

{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
<link href="{% static 'css/actualizar_ley_presupuesto.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Modificar ajuste presupuestario {{ current_year }}</h2>
    <br>


    <!-- Formulario para actualizar la ley de presupuesto -->
    <form method="post" class="actualizar-ajuste-presupuesto">
        {% csrf_token %}
        {% for programa in programas %}
            <h3 class="text-center" style="margin-bottom: 40px; margin-top: 70px"><u>{{ programa.1 }}</u></h3>
                {% for subtitulo in subtitulos %}
                    {% if subtitulo.programa_presupuestario == programa.0 %}
                        <h4 style="margin-top: 60px">{{ subtitulo.subtitulo }}</h4>
                        {%for item in subtitulo.items_presupuestarios.all %}
                            <div class="form-group row" style="margin-top: 35px;">
                                <label for="ajuste_presupuestario_{{ forloop.counter }}" class="col-sm-5 col-form-label" style="font-weight: normal;">{{ item.item }} </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ajuste_presupuestario_{{ forloop.counter }}" name="ajuste_presupuestario_{{ item.id }}" value="{{ item.ajuste_presupuestario_item|floatformat:0 }}" style="background-color: rgb(200, 230, 250);" required>
                                </div>
                            </div>
                            <hr>
                        {%endfor%}
                    {%endif%}
                {% endfor%}
        {% endfor%}
        
        <a href="{% url 'ley_presupuestaria' current_year %}" class="btn btn-thick btn-thick-amarillo">Cancelar</a>
        <button type="submit" class="btn btn-thick btn-thick-rosado">Guardar</button>
    </form>


    {% if error %}
        <div class="alert alert-danger mt-4" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block jscript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function formatNumberWithDots(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Formatear los valores iniciales
        document.querySelectorAll('input[type="text"]').forEach(function(input) {
            input.value = formatNumberWithDots(input.value);
        });

        // Formatear los valores mientras se escriben
        document.querySelectorAll('input[type="text"]').forEach(function(input) {
            input.addEventListener('input', function() {
                let value = input.value.replace(/\./g, '');
                if (!isNaN(value) && value !== '') {
                    input.value = formatNumberWithDots(value);
                } else {
                    input.value = input.value.slice(0, -1); // Eliminar el último carácter si no es un número
                }
            });
        });
    });
</script>
{% endblock %}