{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% load crispy_forms_tags %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
<style>
  .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    display: flex
;
    flex-direction: row;
    align-items: center;
    padding: .35em .65em;
    margin-right: .375rem;
    margin-bottom: .375rem;
    font-size: 0.8rem;
    color: #212529;
    cursor: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
  width: .50rem;
  height: .50rem;
  padding: .25em;
  margin-right: .25rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23676a6d'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) 50% / .75rem auto no-repeat;
  border: 0;
}
</style>
{% endblock %}
{% block content %}

<div class="text-center" style="margin-bottom: 50px;" name="Titulo">
    <h2 class="text-center">Certificados de disponibilidad presupuestaria</h2>
</div>
<hr>
<form method="post" name="formulario para filtrar">
    {% csrf_token %}
    <div class="row">
      <div class="col-2">
        <select id ="year" class="form-select" name="filter_year">
          <option value="0">Todos los años</option>
          {% for year in years %}
            <option value="{{ year.year }}" {% if filter_year == year.year|stringformat:"s" %}selected{% endif %}>{{ year.year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <select id ="program" class="form-select" name="filter_program">
          <option value="todos">Todos los programas</option>
          {% for program in programs %}
            <option value="{{ program.0 }}" {% if filter_program == program.0%}selected{% endif %}>{{ program.0 }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <select id ="estado" class="form-select select-estado" name="filter_estado" multiple>
          <option value="todos" {% if filter_estado == 'todos' %}selected{% endif %}>Todos los estados</option>
          {% for estado in estados %}
                <option value="{{ estado.0 }}" {%for e in filter_estado%}{% if e == estado.0%}selected{% endif %}{% endfor %}>{{ estado.0 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-2">
        <select id="establecimiento" class="form-select select-field" name="filter_establecimiento">
          <option value="todos">Todos los establecimientos</option>
          {% for establecimiento in establecimientos %}
            <option value="{{ establecimiento.id }}" {% if filter_establecimiento == establecimiento.id|stringformat:"s" %}selected{% endif %}>{{ establecimiento.nombre }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-2">
        <select id="unidad" class="form-select" name="filter_unidad">
          <option value="todos">Todas las unidades</option>
          {% for unidad in unidades %}
            <option value="{{ unidad.id }}" {% if filter_unidad == unidad.id|stringformat:"s" %}selected{% endif %}>{{ unidad.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="col-1">
        <button type="submit" class="btn btn-info" style=" color: white">Filtrar</button>
      </div>
  </div>
</form>
<hr>
<div style="margin-top: 50px" name="Lista de cdps">
  <h3 class="text-center" style="margin-bottom: 50px">{{subtitulo}}</h3>
  <ul class="list-group" style="margin-bottom: 50px">
    {% for filtro in filtros %}
    <li class="list-group-item" style="background-color: rgba(179, 194, 207, 0.5);">{{ filtro }}</li>
    {% endfor %}
  </ul>
  <ul class ="list-group">
    {%for cdp in cdps%}
      <div class="row" style="margin-top: 20px">
        {% if cdp.estado == "ingresado" %}
          {% if cdp.establecimiento %}
            <li class="list-group-item list-group-item-success col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.establecimiento }}</li>
          {%elif cdp.unidad %}
            <li class="list-group-item list-group-item-success col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.unidad }}</li>
            {%endif%}
        {% elif cdp.estado == "refrendado" %}
          {% if cdp.establecimiento %}
            <li class="list-group-item list-group-item-primary col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.establecimiento }}</li>
          {%elif cdp.unidad %}
            <li class="list-group-item list-group-item-primary col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.unidad }}</li>
          {%endif%}
        {%elif cdp.estado == "rechazado" %}
          {% if cdp.establecimiento %}
            <li class="list-group-item list-group-item-danger col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.establecimiento }}</li>
          {%elif cdp.unidad %}
            <li class="list-group-item list-group-item-danger col-7 rounded"><b>N°{{cdp.cdp}}-{{cdp.estado|upper}}:</b> {{ cdp }}<br> {{ cdp.unidad }}</li>
          {%endif%}
        {%endif%}
        <a type="button" data-form="{% url 'modal_actualizar_cdp' cdp.id %}" class="btn btn-thick btn-thick-celeste abrir_modal col-2"
          style="margin-left: 20px">Refrendar</a>
      </div>
    {%endfor%}
  </ul>
</div>

{% endblock %}
{% block jscript %}
<script>
  // Función para cambiar el color del fondo del selector cuando cambia el valor
  function changeBackgroundColor(selectElement) {
    if (selectElement.value !== "0" && selectElement.value !== "todos") {
      selectElement.style.backgroundColor = "rgba(183, 225, 239, 0.5)"; // Color de fondo cuando está seleccionado
    } else {
      selectElement.style.backgroundColor = ""; // Color de fondo por defecto
    }
  }

  // Asignar el evento a todos los selectores con clase form-select
  document.addEventListener("DOMContentLoaded", function () {
    const selectElements = document.querySelectorAll(".form-select");
    selectElements.forEach(function (select) {
      // Cambiar el color inicial basado en el valor seleccionado
      changeBackgroundColor(select);

      // Escuchar cambios y actualizar el color de fondo
      select.addEventListener("change", function () {
        changeBackgroundColor(select);
      });
    });
  });
</script>
{% endblock %}