{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% load crispy_forms_tags %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% endblock %}
{% block content %} 

<h4>SELECCIONAR PROGRAMA</h4>
<form id="programaForm" action="{% url 'cambiar_programa' %}" method="post">
    {% csrf_token %}
    <select id="programa" class="form-select" aria-label="Default select example" name="programa">
        <option value="none" selected>Seleccione un programa</option>
        {% for programa in programs %}
        <option value="{{ programa.0 }}" {% if programa.0 == current_program %}selected{% endif %}>{{ programa.1 }}</option>
        {% endfor %}
    </select>
</form>

<hr>

<div>
  <h3>{{titulo_cdp}}</h3>
  {% if form%}
  <form method="post" action="{% url 'home_funcionarios' current_year current_program  %}">
      {% csrf_token %}
      
      {% comment %} {% crispy form %} {% endcomment %}

      <div class="container-fluid">       
          
          <div class="row">
              <div class="col-md-4">
                  {%if current_program == "P01 GASTOS ADMINISTRATIVOS"%}
                      {{ form.unidad|as_crispy_field}}
                  {%elif current_program == "P02 SERVICIOS EDUCATIVOS"%}
                      {{ form.establecimiento|as_crispy_field}}
                  {%endif%}
              </div>
              <div class="col-md-4">
                  {{ form.fondo|as_crispy_field}}
              </div>
              <div class="col-md-4">
                  {{ form.item_presupuestario|as_crispy_field}}
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  {{ form.numero_requerimiento|as_crispy_field}}
              </div>
              <div class="col-md-6">
                  {{ form.monto|as_crispy_field}}
              </div>
          </div>
          <div class="col-md-12">
              {{ form.folio_sigfe|as_crispy_field}}
          </div>
          <div class="col-md-12">
              {{ form.n_orden|as_crispy_field}}
          </div>
          
          <div class="row">
              <div class="col-md-6">
                  {{ form.detalle|as_crispy_field}}
              </div>
              <div class="col-md-6">
                  {{ form.otros|as_crispy_field}}
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  {{ form.fecha_cdp|as_crispy_field}}
              </div>
              <div class="col-md-6">
                  {{ form.fecha_guia_requerimiento|as_crispy_field}}
              </div>
          </div>
          <div class="col-md-12">
              {{ form.estado|as_crispy_field}}
          </div>
          
          <div class="row">
             <button class="btn btn-thick btn-thick-celeste col-2 ms-auto" type="submit">Ingresar</button>
          </div> 
      </div>

  </form>
  {% else %}
      <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 80%; max-width: 400px;">
          {% for field in form %}
              {% for error in field.errors %}
                  <p>{{ error }}</p>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
          {% endfor %}
      </div>
  {% endif %}
</div>


<script>
  $('.select-field').select2({
      theme: 'bootstrap-5'
  });
</script>
{% endblock %}
{% block jscript %}

<script>
    // Detectar cambio en el <select> y enviar el formulario
    document.getElementById('programa').addEventListener('change', function() {
      const programa = this.value;

      if (programa) {
        // Enviar el formulario automáticamente
        document.getElementById('programaForm').submit();
      } else {
        alert('Por favor, selecciona un programa válido.');
      }
    });
</script>



{% endblock %}


