{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% endblock %}
{% block content %} 
<div class="d-flex justify-content-between align-items-center main-content">
    <div class="info-section">
        <h3>Bienvenido, {{ request.session.usuario_entidad.usuario }}</h3>
        <h5 class="card-title">Información del Área</h5>
        <p><strong>Unidad: </strong>{{ request.session.unidad.nombre }}</p>
        <p><strong>Área: </strong>{{ request.session.area_unidad.nombre }}</p>
    </div>
    <div class="vertical-divider"></div>
    <div class="d-flex flex-column">
        <a href="{% url 'ley_presupuestaria' current_year %}" class="btn btn-thick btn-thick-azul">Revisar Ley Presupuestaria {{ current_year }}</a>
        {% if state %}
        <a href="{% url 'generar_ley_presupuestaria' %}" class="btn btn-thick btn-thick-rojo" style="margin-top: 10px;">Debes generar Ley Presupuesto Anual {{ current_year }}</a>
        {% endif %}
    </div>
</div>
<hr>
<h4>PROGRAMA SELECIONADO</h4>
<form id="programaForm" action="{% url 'cambiar_programa' %}" method="post">
    {% csrf_token %}
    <select id="programa" class="form-select" aria-label="Default select example" name="programa">
        {% for programa in programs %}
        <option value="{{ programa.0 }}" {% if programa.0 == current_program %}selected{% endif %}>{{ programa.1 }}</option>
        {% endfor %}
    </select>
</form>

<hr>
<div class="d-flex justify-content-around" style="margin-top: 20px;">
    <a href="#" class="btn btn-thick btn-thick-verde" hx-get="{% url 'ingresar_cdp' request.session.usuario_entidad.year current_program  %}" hx-target="#dinamico" hx-swap="innerHTML">Ingresar CDP</a>
    <a href="#" class="btn btn-thick btn-thick-amarillo" hx-get="{% url 'listado' request.session.usuario_entidad.year current_program %}" hx-target="#dinamico" hx-swap="innerHTML">Historial CDP</a>
    <a href="#" class="btn btn-thick btn-thick-celeste" hx-get="{% url 'historial_cdp' %}" hx-target="#dinamico" hx-swap="innerHTML">los cdps</a>
</div>
<hr>
<div id="dinamico" style="margin:20px"><br></div>
<hr>

{% endblock %}
{% block jscript %}

<script>
    // Detectar cambio en el <select> y enviar el formulario
    document.getElementById('programa').addEventListener('change', function() {
      const programa = this.value;

      if (programa) {
        // Enviar el formulario automáticamente
        document.getElementById('programaForm').submit();
      } else {
        alert('Por favor, selecciona un programa válido.');
      }
    });
</script>



{% endblock %}


