<!-- filepath: /c:/Users/javie/Desktop/proyecto-master/apps/cdp/templates/ingresar_cdp.html -->
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'libs/toast/toastr.min.css' %}" media="all" />

<div>
    <h3>Ingresar CDP para el Área</h3>

    <form hx-post="{% url 'ingresar_cdp' %}" hx-target="#dinamico" hx-swap="innerHTML">
        {% csrf_token %}
        {% crispy form %}
        
    </form>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 80%; max-width: 400px;">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>



