<!-- filepath: /c:/Users/javie/Desktop/proyecto-master/apps/cdp/templates/ingresar_cdp.html -->
{% load crispy_forms_tags %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'libs/toast/toastr.min.css' %}" media="all" />

<div>

    <h3>{{titulo_cdp}}</h3>
    {% if form%}
    <form hx-post="{% url 'ingresar_cdp' current_year current_program %}" hx-target="#dinamico" hx-swap="innerHTML">
        {% csrf_token %}
        
        {% comment %} {% crispy form %} {% endcomment %}

        <div class="container-fluid">       
            
            <div class="row">
                <div class="col-md-4">
                    {%if current_program == "P01 GASTOS ADMINISTRATIVOS"%}
                        {{ form.unidad|as_crispy_field}}
                    {%elif current_program == "P02 SERVICIOS EDUCATIVOS"%}
                        {{ form.establecimiento|as_crispy_field}}
                    {%endif%}
                </div>
                <div class="col-md-4">
                    {{ form.fondo|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{ form.item_presupuestario|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.numero_requerimiento|as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{ form.monto|as_crispy_field}}
                </div>
            </div>
            <div class="col-md-12">
                {{ form.folio_sigfe|as_crispy_field}}
            </div>
            <div class="col-md-12">
                {{ form.n_orden|as_crispy_field}}
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    {{ form.detalle|as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{ form.otros|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.fecha_cdp|as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{ form.fecha_guia_requerimiento|as_crispy_field}}
                </div>
            </div>
            <div class="col-md-12">
                {{ form.estado|as_crispy_field}}
            </div>
            
            <div class="col-md-12">
               <button class="btn btn-thick btn-thick-verde" type="submit">Ingresar CDP</button>
            </div> 
        </div>

    </form>
    {% else %}
        <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 80%; max-width: 400px;">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>


<script>
    $('.select-field').select2({
        theme: 'bootstrap-5'
    });
</script>
