{% extends 'base.html' %}
{% load static %}
{% load utilidades %}

{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
<link href="{% static 'css/actualizar_ley_presupuesto.css' %}" rel="stylesheet">
<link href="{% static 'css/ley_presupuestaria.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}





<div class="container mt-4">
  <h2 class="text-center" style="color: rgba(57,190,239,1);">Ley Presupuestaria {{ current_year }}</h2>
  <br>
  <div>
    <h6 class="" style="font-size: 14px; color: rgba(31,132,236,1);">Seleccionar año de ley presupuestaria</h6>
    <form id="yearForm" action="{% url 'cambiar_year' %}" method="post">
      {% csrf_token %}
      <select id="year" class="form-select" aria-label="Default select example" name="year">
        {% for year in years %}
        <option value="{{ year.year }}" {% if year.year == current_year %}selected{% endif %}>{{ year.year }}</option>
        {% endfor %}
      </select>
    </form>
  </div>

  <br>

{% for programa in programas %}
  <h4 class="text-center" style="margin-bottom: 20px; margin-top: 20px"><b>{{ programa.1 }}</b></h4>
  {% for subtitulo in subtitulos %}
    {% if subtitulo.programa_presupuestario == programa.1 %}
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header"> 
            <button class="accordion-button collapsed" style="" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ subtitulo.id }}" aria-expanded="false" aria-controls="collapse-{{ subtitulo.id }}">
              <div class="d-flex" style="flex-direction: row; width: 95%; justify-content: space-between">
                <div class="mb-2" style="text-align: start; flex-basis: 450px; margin-top: 22px">
                  <h6>{{ subtitulo.subtitulo|truncatechars:50 }}</h6>
                </div>
                <div class="row" style="font-size: 14px !important; text-align: end; flex-grow: 1;">
                  <div class="col-3" style="padding: 0 !important;">
                    <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                      <label>Ley presupuestaria</label>
                    </div>
                    <input type="text" style="width: 100%; height: 30px; text-align: end;" value="{{ subtitulo.ley_presupuestaria_subtitulo|floatformat:0 }}" disabled>
                  </div>
                  <div class="col-3" style="padding: 0 !important;">
                    <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                      <label>Ajuste presupuestario</label>
                    </div>
                    <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" id="monto-{{ forloop.counter }}" value="{{ subtitulo.monto_ajuste_presupuestaria_subtitulo|floatformat:0 }}" disabled>
                  </div>
                  <div class="col-3" style="padding: 0 !important;">
                    <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                      <label>Saldo comprometido</label>
                    </div>
                    <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" id="monto-{{ forloop.counter }}" value="{{ subtitulo.monto_comprometido_subtitulo|floatformat:0 }}" disabled>
                  </div>
                  <div class="col-3" style="padding: 0 !important;">
                    <div style="width: 100%; border-bottom: 1px solid rgba(57,190,239,1); text-align: center">
                      <label>Presupuesto total</label>
                    </div>
                    <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" value="{{ subtitulo.monto_total_ajuste_presupuestario|floatformat:0 }}" disabled>
                  </div>  
                </div>       
              </div>
            </button> 
          </h2>
        </div>
        <div id="collapse-{{ subtitulo.id }}" class="accordion-collapse collapse"><!-- Aqui va lo que se despliega -->
          <div class="accordion-body">
            <!-- Aqui despliego el contenido del acordeón -->
            {% for item in items_presupuestarios %}
              {% if subtitulo.id == item.subtitulo_presupuestario.id %}
              <div class="accordion" id="accordionItems">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel--{{ item.id }}" aria-expanded="false" aria-controls="panel--{{ item.id }}">
                      <div class="d-flex" style="flex-direction: row; width: 95%; justify-content: space-between">
                        <div class="mb-2" style="text-align: start; flex-basis: 450px; margin-top: 22px">
                          <h6>{{ item.item|truncatechars:50 }}</h6>
                        </div>
                        <div class="row" style="font-size: 14px !important; text-align: end; flex-grow: 1;">
                          <div class="col-3" style="padding: 0 !important;">
                            <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                              <label>Item presupuestario</label>
                            </div>
                            <input type="text" style="width: 100%; height: 30px; text-align: end;" value="{{ item.ley_presupuestaria_item|floatformat:0 }}" disabled>
                          </div>
                          <div class="col-3" style="padding: 0 !important;">
                            <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                              <label>Ajuste presupuestario</label>
                            </div>
                            <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" id="monto-{{ forloop.counter }}" value="{{ item.monto_ajuste_presupuestaria_item|floatformat:0 }}" disabled>
                          </div>
                          <div class="col-3" style="padding: 0 !important;">
                            <div style="width: 100%; border-bottom: 1px solid rgba(254,59,75,1); text-align: center">
                              <label>Saldo comprometido</label>
                            </div>
                            <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" id="monto-{{ forloop.counter }}" value="{{ item.saldo_comprometido|floatformat:0 }}" disabled>
                          </div>
                          <div class="col-3" style="padding: 0 !important;">
                            <div style="width: 100%; border-bottom: 1px solid rgba(57,190,239,1); text-align: center">
                              <label>Presupuesto total</label>
                            </div>
                            <input type="text" style="width: 100%; height: 30px; width: 100%; text-align: end;" value="{{ item.monto_total_ajuste_presupuestario|floatformat:0 }}" disabled>
                          </div>  
                        </div>       
                      </div>
                    </button>
                  </h2>
                  <div id="panel--{{ item.id }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <h6>Saldo comprometido base{{ item.monto_comprometido }}</h6>

                      {% for cdp in cdps %}
                          {% if item.id == cdp.item_presupuestario.id %}
                            <!--Aqui van los cdps con diseño-->
                            <h6>{{ cdp }}</h6>
                          {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
                <!-- Aqui van los items con diseño -->
                
                <hr>
              {% endif %}
            {% endfor %}<!-- Aqui despliego los items --> 
          </div>
        </div> 
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}

<!--Esto es lo que va despues con los cdps-->
{% comment %} {% for cdp in cdps %}
                    {% if item.id == cdp.item_presupuestario.id %}
                      <!--Aqui van los cdps con diseño-->
                      <h6>{{ cdp }}</h6>
                    {% endif %}
                  {% endfor %} {% endcomment %}

{%comment%}
<a type="button" data-form="{% url 'historial_items' item.id %}" class="btn btn-thick btn-thick-azul abrir_modal" style="margin-top: 10px;">Modal</a>
<a href="#" class="btn btn-thick btn-thick-celeste" hx-get="{% url 'historial_items' item.id %}" hx-target="#dinamico-{{ item.id }}" hx-swap="innerHTML">{{ item.item }}</a>
{%endcomment%}              

<a type="button" data-form="{% url 'modal_prueba' %}" class="btn btn-thick btn-thick-azul abrir_modal" style="margin-top: 10px;">Modal</a>


<a href="{% url 'actualizar_ley_presupuestaria' current_year %}" class="btn btn-thick btn-thick-azul" style="margin-top: 10px;">Actualizar ley presupuestaria {{current_year}}</a>

{% if error %}
    <div class="alert alert-danger mt-4" role="alert">
        <p>{{ error }}</p>
    </div>
{% endif %}
</div>

{% endblock %}

{% block jscript %}



<script>
    // Detectar cambio en el <select> y enviar el formulario
    document.getElementById('year').addEventListener('change', function() {
      const year = this.value;

      if (year) {
        // Enviar el formulario automáticamente
        document.getElementById('yearForm').submit();
      } else {
        alert('Por favor, selecciona un año válido.');
      }
    });
  </script>

<script>
    // Variable con el año a preseleccionar
    const preselectedYear = {{ current_year }}; // Cambia esto al año que necesites

    // Preseleccionar el año al cargar la página
    window.addEventListener('DOMContentLoaded', () => {
      const yearSelect = document.getElementById('year');
      if (preselectedYear) {
        yearSelect.value = preselectedYear;
      }
    });
</script>

<script>
    function formatNumberWithDots(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Formatear los valores iniciales
        document.querySelectorAll('input[type="text"]').forEach(function(input) {
            input.value = formatNumberWithDots(input.value);
        });

        // Formatear los valores mientras se escriben
        document.querySelectorAll('input[type="text"]').forEach(function(input) {
            input.addEventListener('input', function() {
                let value = input.value.replace(/\./g, '');
                if (!isNaN(value) && value !== '') {
                    input.value = formatNumberWithDots(value);
                } else {
                    input.value = input.value.slice(0, -1); // Eliminar el último carácter si no es un número
                }
            });
        });
    });
</script>



{% endblock %}