{% load crispy_forms_tags %}
{% load utilidades %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar item: {{item_presupuestario.item}}</h5><!--Cambiarle el titulo al modal-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post" action="{% url 'modal_modificar_item' item_presupuestario.id %}">

    <div class="modal-body" >
            {% csrf_token %}
            <div class="container-fluid">
                <div class="col-12">
                    {{ form.subtitulo_presupuestario|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{ form.item|as_crispy_field}}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.ley_presupuestaria_item|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{ form.ajuste_presupuestario_item|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{ form.monto_comprometido|as_crispy_field}}
                    </div>
                </div>
            </div>
            
        
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-thick btn-thick-rosado" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-thick btn-thick-celeste">Guardar</button>
    </div>
    </form>
    </div>
</div>