{% load crispy_forms_tags %}
{% load utilidades %}
<div class="modal-dialog modal-lg" id="myModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'modal_actualizar_cdp' cdp.id %}">
      <div class="modal-body">
        <p>Modal body text goes here.</p>
        {{cdp}}
        
          {% csrf_token %}
          
          {% comment %} {% crispy form %} {% endcomment %}
  
          <div class="container-fluid">       
              
              <div class="row">
                  <div class="col-md-4">
                      {%if current_program == "P01 GASTOS ADMINISTRATIVOS"%}
                          {{ form.unidad|as_crispy_field}}
                      {%elif current_program == "P02 SERVICIOS EDUCATIVOS"%}
                          {{ form.establecimiento|as_crispy_field}}
                      {%endif%}
                  </div>
                  <div class="col-md-4">
                      {{ form.fondo|as_crispy_field}}
                  </div>
                  <div class="col-md-4">
                      {{ form.item_presupuestario|as_crispy_field}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      {{ form.numero_requerimiento|as_crispy_field}}
                  </div>
                  <div class="col-md-6">
                      {{ form.monto|as_crispy_field}}
                  </div>
              </div>
              <div class="col-md-12">
                  {{ form.folio_sigfe|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{ form.n_orden|as_crispy_field}}
              </div>
              
              <div class="row">
                  <div class="col-md-6">
                      {{ form.detalle|as_crispy_field}}
                  </div>
                  <div class="col-md-6">
                      {{ form.otros|as_crispy_field}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      {{ form.fecha_cdp|as_crispy_field}}
                  </div>
                  <div class="col-md-6">
                      {{ form.fecha_guia_requerimiento|as_crispy_field}}
                  </div>
              </div>
              <div class="col-md-12">
                {{ form.estado|as_crispy_field}}
              </div> 
          </div>
  
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-thick btn-thick-rosado" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-thick btn-thick-verde" type="submit">Refrendar</button>
      </div>
    </form>
    </div>
  
</div>
