{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% load crispy_forms_tags %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h1>
    Modificar ítems presupuestarios
</h1>
<hr>
{%for programa in programs%}
    <div class="col-12" style ="background-color: rgb(197, 218, 240); padding: 10px">
        <h4 class="text-center">{{programa.1}}</h4>
    </div>
    <hr>
    {%for subtitulo in subtitulos_presupuestarios%}
        {%if subtitulo.programa_presupuestario == programa.0%}
            {% if programa.0 == 'P01 GASTOS ADMINISTRATIVOS'%}
                <h5 style ="padding: 20px">{{subtitulo.subtitulo}}</h5>
            {% elif programa.0 == 'P02 SERVICIOS EDUCATIVOS'%}
                <h5 style ="padding: 20px">{{subtitulo.subtitulo}}</h5>
            {% endif %}
            {% for item in items %}
                <div class="container">
                    {% if item.subtitulo_presupuestario == subtitulo %}
                        <div class="row" style ="margin-top: 20px">
                            <div class="col-6">
                                <li class="list-group-item list-group-item-action list-group-item-dark rounded">
                                    {{item.concepto_presupuestario_item}}<br>Ley presupuestaria: {{item.ley_presupuestaria_item}}, Monto comprometido {{item.ajuste_presupuestario_item}}, Monto comprometido {{item.monto_comprometido}}
                                </li>
                            </div>
                            <div class="col-4">
                                <a type="button" data-form="{% url 'modal_modificar_item' item.id %}" class="btn btn-thick btn-thick-celeste abrir_modal"
                                style="margin-left: 20px">Modificar ítem</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        {%endif%}
    {% endfor%}
{% endfor%}

{% endblock %}
{% block jscript %}

{% endblock %}