<div id="id_alert_partidas" hx-swap-oob="true">
    {% if cantidad_partidas_sin_evaluar != 0 %}
    <div class="alert alert-warning d-flex align-items-center mb-1" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            Existen <strong>{{cantidad_partidas_sin_evaluar}} ítems de Patidas</strong> sin evaluar. Se
            solicita
            completar la información antes de enviar la información.
        </div>
    </div>
    {% else %}
    <div class="alert alert-success d-flex align-items-center mb-1" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Warning:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            <strong>Ha cumplido</strong> con la totalidad de la evaluación de las partidas.
        </div>
    </div>
    {% endif %}
</div>
<div class="row" style="border-bottom: 1px solid #dee2e6; padding-top: 5px; padding-bottom: 5px;">
    <div class="col-3 d-flex align-items-center" style="font-weight: 600;padding-right: 5px;">
        {{partida.partida_diagnostico.nombre}}
    </div>
    <div class="col-2 d-flex align-items-center">
        {% if partida.evaluacion == 1 %}
            <span class="badge bg-secondary">Sin evaluar</span>
        {% elif partida.evaluacion == 2 %}                                       
            <span class="badge bg-success">No requiere mantención</span>
        {% elif partida.evaluacion == 3 %}
            <span class="badge bg-warning text-dark">Requiere mantanción</span>                                            
        {% elif partida.evaluacion == 4 %}
            <span class="badge bg-light text-dark">No aplica</span>
        {% endif %}
    </div>
    <div class="col-5 d-flex align-items-center" style="padding-left: 5px; padding-right: 5px;">
        {% if partida.observaciones %}
            {{partida.observaciones}}
        {% else %}
            Sin observación
        {% endif %}
    </div>
    <div class="col-2" style="text-align: end;">
        <a 
            class="btn btn-primary btn-sm"
            style="font-size: 11.5px !important;"
            hx-get="{% url 'actualiza_partida_diagnostico_htmx' partida.id %}"
            hx-push-url="false" 
            hx-target="#id_{{partida.id}}" 
            hx-swap="innerHTML">
            <i class="fa-solid fa-arrows-rotate"></i> Actualizar
        </a>
    </div>
</div>
{% include 'base_toast.html' %}