{% if not diagnostico.observaciones %}
<p>
    De forma <strong>opcional</strong> se podrá ingresar una observación general que dé cuenta de algún requerimiento especial que se encuentra fuera de los ítems evaluados  o algún aspecto importante que ayude a tener un mejor diagnostico del estado general del Establecimiento.
</p>        
{% else %}
{{diagnostico.observaciones}}<br><br>  
{% endif %}
<a 
    class="btn btn-primary btn-sm" 
    hx-get="{% url 'actualiza_observacion_diagnostico_htmx' diagnostico.id %}"
    hx-push-url="false" 
    hx-target="#id_{{diagnostico.id}}" 
    hx-swap="innerHTML">
    <i class="fa-solid fa-arrows-rotate"></i> Actualizar
</a>