{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% block head %}{% endblock %}
{% block content %}
<div class="d-flex align-items-center">
    <div class="flex-grow-1 text-truncate">
        <h5 class="m-0">Nueva Categoría Recinto</h5>
        <span class="sub-titulo">Servicio Local de Educación Puerto Cordillera</span> 
    </div>
    <div class="d-flex align-items-center">              
    </div>
</div>
<nav aria-label="breadcrumb" style="font-size: 13px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'listado_categoria_recinto' %}" style="text-decoration: none;">Listado Categoría Recinto</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva Categoría Recinto</li>
    </ol>
</nav>
<form method="POST">
    {% csrf_token %}   
    <div class="mb-3">
        <label class="form-label">Código</label>
        {{form.codigo}}
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre Categoría</label>
        {{form.nombre}}
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        {{form.descripcion}}       
    </div>    
    <div class="mt-2 mb-4" style="text-align: end;">
        <a class="btn btn-secondary btn-sm" href="{% url 'listado_categoria_recinto' %}">Cancelar</a>
        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
    </div>
</form>
{% endblock %}
{% block jscript %}
{% endblock %}


