{% extends 'base.html' %}
{% load static %}
{% load utilidades %}
{% block head %}
<style>
  .td-table {
    width: 140px;
  }
</style>
{% endblock %}
{% block content %}
<div class="d-flex align-items-center mb-3">
    <div class="flex-grow-1 text-truncate">
        <h5 class="m-0">{{establecimiento.nombre}}</h5>        
        <span class="sub-titulo">Servicio Local de Educación Puerto Cordillera</span>
    </div>
    <div class="d-flex align-items-center">
        <a class="btn-round" type="button" href="#"><i class="fa-regular fa-pen-to-square"></i></a>
        <!-- <a class="btn-round" type="button" href="#"><i class='bx bx-bell'></i></a>
        <a class="btn-round" type="button" href="#"><i class='bx bx-cog'></i></a> -->
    </div>
</div>
<h5>Información General</h5>
<table class="table table-light mb-4" style="font-size: 11.5px;">
  <tr>
    <th class="td-table">RBD</th>
    <td style="text-align: left;">{{establecimiento.rbd}}</td>
  </tr>
  <tr>
    <th class="td-table">Estado</th>
    <td style="text-align: left;">
      {% if establecimiento.estado == 1 %}
      <span class="badge bg-success">Activo</span>
      {% else %}
      <span class="badge bg-danger">Inactivo</span>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th class="td-table">Dirección</th>
    <td>
      {{establecimiento.direccion}}
    </td>
  </tr>
  <tr>
    <th class="td-table">Comuna</th>
    <td>
      {{establecimiento.comuna}}
    </td>
  </tr>
  <tr>
    <th class="td-table">Zona Geográfica</th>
    <td>
      {{establecimiento.get_zona_geografica_display}}
    </td>
  </tr>
</table>  
<h5>Información Contacto Establecimiento</h5>
<table class="table table-light mb-4" style="font-size: 11.5px;">
  <tr>
    <th class="td-table">Teléfono</th>
    <td style="text-align: left;">{{establecimiento.telefono1}}</td>
  </tr>
  <tr>
    <th class="td-table">Email</th>
    <td style="text-align: left;">
      {{establecimiento.email_establecimiento}}
    </td>
  </tr>    
</table>
<h5>Información Director</h5>
<table class="table table-light mb-4" style="font-size: 11.5px;">
  <tr>
    <th class="td-table">Director(a)</th>
    <td style="text-align: left;">{{establecimiento.director}}</td>
  </tr>
  <tr>
    <th class="td-table">Teléfono</th>
    <td style="text-align: left;">{{establecimiento.telefono2}}</td>
  </tr>
  <tr>
    <th class="td-table">Email</th>
    <td style="text-align: left;">
      {{establecimiento.email_director}}
    </td>
  </tr>    
</table>
<hr>

<div style="text-align: end;">
  <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa-regular fa-pen-to-square"></i> Editar Información</a> -->
</div>
{% endblock %}
{% block jscript %}
{% endblock %}
