{% extends 'base.html' %} 
{% load static %}
{% load utilidades %}
{% block head %}
<link href="{% static 'css/home_funcionarios.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h1>
    Asignación de roles de usuarios
</h1>
<hr>

<div class="row">
    {% for user in personal %}
        <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{user.usuario.nombre_completo}}</h5>
            <p class="card-text">
                Unidad: {{user.area_unidad.unidad}}<br>
                Area: {{user.area_unidad}}<br>
                Cargo: {{user.cargo|default:"Sin cargo"}}<br>
                Email: {{user.usuario.email}}<br>
                Rol asignado: <b>{{ user.rol_sistema.nombre|default:"Sin rol" | textoConEspacios }}</b>

            </p>
            <a type="button" data-form="{% url 'modal_asignar_rol' user.id %}" class="btn btn-thick btn-thick-celeste abrir_modal">Asignar nuevo rol</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block jscript %}
{% endblock %}